* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

.contact {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
}

.navbar {
    height: 80px;
}

.box {
    width: 400px;
    height: 40px;
    text-align: center;
    border: 1px solid rgb(92, 177, 7);
    margin-right: 2px;
}

.search-btn {
    position: relative;
    right: 30px;
    top: 6px;
}

.search-btn:active {
    transform: translateY(2px);
}

.btn-box {
    padding-left: 3px;
    padding-right: 3px;
    margin: 3px;
    font-size: 14px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 0.1rem solid rgb(182, 178, 178);
}

.btn-box:hover {
    background-color: rgb(73, 71, 71);
    color: azure;
}

.close {
    margin-left: 20px;
    margin-top: 8px;
}

.name {
    margin: 3px;
}

.Clear-btn {
    padding: 3px;
    margin: 12px;
    background-color: rgb(224, 223, 223);
}

.buy-btn {
    padding: 3px;
    background-color: rgb(221, 222, 223);
}

.buy-btn:hover {
    background-color: rgb(129, 192, 104);
}

.Clear-btn:hover {
    background-color: rgb(201, 61, 61);
}

.trash-bin {
    font-size: 14px;
    margin-left: 8px;
}

.trash-bin:hover {
    color: firebrick;
}

.table-row {
    padding: 2px;
    font-size: small;
}

Link {
    text-decoration: none;
}

.me-3:hover {
    border: 2px solid rgb(185, 216, 9);
}

.cart:active {
    transform: translateY(2px);
}

.me-3 {
    background-color: rgb(220, 216, 216);
    padding: 4px;
}

@media (max-width: 480px) {

    .logo {
        margin-left: 12px;
        width: 70px;
    }

    .navbar {
        height: 60px;
        background-color: rgb(133, 173, 93);

    }

    .contact {
        font-size: 8px;
        gap: 20px;

    }

    .box {
        width: 180px;
        height: 28px;
        font-size: 10px;
        margin-right: 70px;
        border: 1px solid green;
    }

    .search-btn {
        right: 100px;
        font-size: 10px;
    }

    .img {
        margin-top: 10px;
        width: 100vw;
        height: 140px;
    }

    .cart {
        position: fixed;
        left: 80%;
        top: 26px;
        font-size: 9px;
        width: 90px;

    }


}