.footer-one {
    border: 1px solid rgb(164, 162, 162);
    margin: 60px;
    padding: 20px;
    font-size: small;
}

span {
    color: rgb(72, 170, 72);
}

.read-more {
    padding: 3px;
    border-style: none;
    border: 1px solid grey;
}

.footer-two {
    display: flex;
    justify-content: space-evenly;
}

h6 {
    width: 190px;
    color: rgb(72, 170, 72);
}

.footerthree {

    padding: 20px;
    margin-left: 70px;
}

.footer {
    display: flex;
}

.para {
    width: 900px;
    font-size: small;
}

.Footerend {
    background-color: rgb(222, 224, 226);
    width: 100%;
}

.para-2 {
    margin-left: 80px;
}

@media (max-width: 480px) {
    .footer-one {
        margin: 30px;
        padding: 10px;
        font-size: 8px;
    }

    .footer-two {
        flex-wrap: wrap;
        font-size: 10px;
        margin-left: 50px;
    }


    .footerthree {
        padding: 10px;
        margin-left: 10px;
    }

    .footer {
        display: flex;
    }

    .para {
        width: 300px;
        font-size: 8px;
    }

    .para-2 {
        margin-left: 10px;
        margin-bottom: 30px;
        font-size: 10px;
    }

    h6 {
        font-size: 10px;
    }
}